@model IEnumerable<MilesBackOffice.Web.Models.AdvertisingViewModel>

@{
    ViewData["Title"] = "Miles News";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Publicity & News</h2>
            </div>
            @*<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Publicity/News</li>
                </ol>
            </div>*@
        </div>
    </div>
</section>
<br />

<table class="display table table-bordered table-striped index-table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Article Id</th>
            <th>Title</th>
            <th>Created On</th>
            <th>Created By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgsrc" alt="Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostGuidId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <a class="btn btn-info pull-right" data-value="@item.Id" onclick="openPartial()" action="Edit"><i class="fa fa-user-edit"></i></a>
                    <a id="btnDeleteItem" class="btn btn-danger pull-right" data-id="@item.Id" action="DeletePost" controller="User">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <button class="btn btn-outline-dark" id="btn_publishNews" action="PublishPost">
        <i class="fas fa-plus"></i> Headline
    </button>
</div>

<div id="form_container">

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        window.addEventListener('load', function () {
            byID('btn_publishNews').addEventListener('click', openPartialCreate);
        });

        function imagePreview(input) {
            if (input.files && input.files[0]) {
                let fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#imgprw').attr('src', e.target.result);
                }
                fildr.readAsDataURL(input.files[0]);
            }
        }
    </script>
}