@model IEnumerable<MilesBackOffice.Web.Models.PartnerViewModel>

@{
    ViewData["Title"] = "Partnerships";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Partnerships</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Partnerships</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<br />

<div>
    <div class="stats-info stats-last widget-shadow">
        <div class="stats-last-agile">
            <table class="table stats-table index-table">
                <thead>
                    <tr>
                        <th>Partner ID</th>
                        <th>Company Name</th>
                        <th>Link</th>
                        <th>Partner Since</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Url)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PartnerSince)
                            </td>
                            <td>
                                <a class="btn btn-info pull-right" data-value="@item.Id" onclick="openPartial()" action="EditPartner"><i class="fa fa-user-edit"></i></a>
                                <a id="btnDeleteItem" class="btn btn-danger pull-right" data-id="@item.Id" action="DeletePartner" controller="User">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <button id="btn_newPartner" action="AddNewPartner">Add New Partnership</button>
</div>


<div id="form_container">

</div>

<script type="text/javascript">
    window.addEventListener('load', function () {
        byID('btn_newPartner').addEventListener('click', openPartialCreate);
    });
</script>
