@model IEnumerable<MilesBackOffice.Web.Data.Entities.PremiumOffer>

@{
    ViewData["Title"] = "Premium Index";
}

<div>
    <h2>Premium Offers</h2>
</div>


<div>
    <div class="stats-info stats-last widget-shadow">
        <div class="stats-last-agile">
            <table class="table stats-table">
                <tr>
                    <th>Offer ID</th>
                    <th>Type</th>
                    <th>Quantity Available</th>
                    <th>Created On</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                <a class="btn btn-info pull-right" data-value="@item.Id" onclick="openPartial()" action="Edit"><i class="fa fa-user-edit"></i></a>
                                <a class="btn btn-danger pull-right" asp-action="Delete" 
                                   data-id="@item.Id" onclick="return confirm('Are you sure you want to delete @item.Title?')">
                                <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
            </table>
        </div>
    </div>
</div>

<div>
    <button id="btn_newTicket" action="CreateTicket" controller="User">Create Premium Ticket</button>
    <button id="btn_newUpgrade" action="CreateUpgrade" controller="User">Create Premium Upgrade</button>
    <button id="btn_newVoucher" action="CreateVoucher" controller="User">Create Premium Voucher</button>
</div>

<div id="form_container">
   
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        
        window.addEventListener('DOMContentLoaded', function () {
            byID('btn_newTicket').addEventListener('click', openPartialCreate);
            byID('btn_newUpgrade').addEventListener('click', openPartialCreate);
            byID('btn_newVoucher').addEventListener('click', openPartialCreate);
        });

    </script>
}
