@model IEnumerable<MilesBackOffice.Web.Models.PremiumOfferViewModel>

@{
    ViewData["Title"] = "Premium Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                <h2>Premium Offers</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Premium Offers</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<br />
<div id="filter_data" class="row">

</div>
<div>
    <div class="stats-info stats-last widget-shadow">
        <div class="stats-last-agile">
            <table class="table stats-table index-table">
                <thead>
                    <tr>
                        <th>Offer ID</th>
                        <th>Type</th>
                        <th>Quantity Available</th>
                        <th>Price</th>
                        <th>Created On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                <a class="btn btn-info pull-right" data-value="@item.Id" onclick="openPartial()" action="Edit"><i class="fa fa-user-edit"></i></a>
                                <a id="btnDeleteItem" class="btn btn-danger pull-right" data-id="@item.Id" action="Delete" controller="User">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <button class="btn btn-outline-dark" id="btn_newTicket" action="CreateTicket" controller="User"><i class="fas fa-plus"></i> Premium Ticket</button>
    <button class="btn btn-outline-dark" id="btn_newUpgrade" action="CreateUpgrade" controller="User"><i class="fas fa-plus"></i> Premium Upgrade</button>
    <button class="btn btn-outline-dark" id="btn_newVoucher" action="CreateVoucher" controller="User"><i class="fas fa-plus"></i> Premium Voucher</button>
</div>

<div id="form_container">

</div>

<partial name="_DeleteConfirm" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        window.addEventListener('DOMContentLoaded', function () {
            byID('btn_newTicket').addEventListener('click', openPartialCreate);
            byID('btn_newUpgrade').addEventListener('click', openPartialCreate);
            byID('btn_newVoucher').addEventListener('click', openPartialCreate);
        });
    </script>
}
