@model MilesBackOffice.Web.Data.Entities.User

@{
    ViewData["Title"] = "User Management";
}


<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Details
            </div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ImageId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ImageId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Document)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Document)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TIN)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TIN)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
            </dl>
            <a asp-action="EditUser" asp-route-id="@Model.Id" class="pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


