@model IEnumerable<MilesBackOffice.Web.Models.Admin.UserRoleViewModel>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <table id="users" class="display table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Name</td>
                                        <td>@user.UserName</td>
                                        <td>@string.Join(" , ", user.Roles.ToList())</td>
                                        <td>
                                            <a class="btn btn-info pull-right" asp-action="EditUser" asp-route-id="@user.UserId"><i class="fa fa-user-edit"></i></a>
                                            <a class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@user.UserId" onclick="return confirm('Are you sure you want to delete @user.Name?')"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!--main content end-->
    <script src="~/template/js/bootstrap.js"></script>
    <script src="~/template/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/template/js/scripts.js"></script>
    <script src="~/template/js/jquery.slimscroll.js"></script>
    <script src="~/template/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/template/js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="~/template/js/jquery.scrollTo.js"></script>
}
