@model MilesTests.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Miles Tests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- bootstrap-css -->
    <link rel="stylesheet" href="~/template/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="~/template/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/template/css/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/template/css/font.css" type="text/css" />
    <link href="~/template/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/template/css/morris.css" type="text/css" />
    <!-- calendar -->
    <link rel="stylesheet" href="~/template/css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="~/template/js/jquery2.0.3.min.js"></script>
    <script src="~/template/js/raphael-min.js"></script>
    <script src="~/template/js/morris.js"></script>
</head>
<body>
    <div class="log-w3">
        <div class="w3layouts-main">
            <h2>Sign In Now</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <span asp-validation-for="UserName"> </span>
                <input asp-for="UserName" type="email" class="ggg" name="UserName" placeholder="E-MAIL">

                <span asp-validation-for="Password"> </span>
                <input asp-for="Password" type="password" class="ggg" name="Password" placeholder="PASSWORD">

                <span asp-validation-for="RememberMe">
                    <input asp-for="RememberMe" type="checkbox" name="RememberMe" />Remember Me
                </span>
                <h6><a asp-action="RecoverPassword">Forgot Password?</a></h6>
                <div class="clearfix"></div>
                <input type="submit" value="Sign In" name="login">
            </form>

            @if (Model.ExternalLogins.Count > 0)
            {
                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div class="social-auth-links text-center mb-3">
                        <p style="color:#ffffff">- OR -</p>

                        @foreach (var provider in Model.ExternalLogins)
                        {
                            @if (provider.Name == "Facebook")
                            {
                                <button data-onsuccess="onSignIn"
                                        class="btn-block btn btn-facebook" type="submit" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account" name="provider">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </button>
                            }
                            else if (provider.Name == "Google")
                            {
                                <button data-onsuccess="onSignIn"
                                        type="submit" class="btn btn-block btn-google" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account" name="provider">
                                    <i class="fa fa-google"></i> Google
                                </button>
                            }
                            else if (provider.Name == "LinkedIn")
                            {
                                <button data-onsuccess="onSignIn"
                                        type="submit" class="btn btn-block btn-link" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account" name="provider">
                                    <i class="fa fa-linkedin-square"></i> LinkedIn
                                </button>
                            }
                        }

                    </div>
                </form>
            }

            <p>Don't Have an Account ?<a asp-action="Register">Create an account</a></p>
        </div>
    </div>
    <script src="~/template/js/bootstrap.js"></script>
    <script src="~/template/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/template/js/scripts.js"></script>
    <script src="~/template/js/jquery.slimscroll.js"></script>
    <script src="~/template/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/template/js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="~/template/js/jquery.scrollTo.js"></script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://apis.google.com/js/platform.js" async defer></script>

}
