@model CinelAirMilesLibrary.Common.Models.LoginViewModel

@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>CinelAir Miles | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Majestic Login Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    @*<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>*@
    <!-- font files -->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /font files -->
    <!-- css files -->
    <link href="~/login/css/animate-custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
</head>
<body>
    <h1 class="w3ls">Miles Program BackOffice</h1>
    <div id="container_demo">
        <div id="wrapper">
            <div id="login" class="animate form">

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @autocomplete = "on" }))

                {
                    @Html.AntiForgeryToken()

                    <h2>Log in</h2>
                    <div>@Html.ValidationSummary(true, "", new { @style = "color: white" })</div>
                    <br />
                    <p>
                        <label for="Username" class="uname" data-icon="u"><span>Your username</span></label>
                        @Html.TextBoxFor(l => l.UserName, new { @placeholder = "Username" })
                    </p>
                    <p>
                        <label for="Password" class="youpasswd" data-icon="p"><span>Your password</span></label>
                        @Html.PasswordFor(l => l.Password, new { @placeholder = "Password" })
                    </p>
                    <p>
                        @Html.CheckBoxFor(l => l.RememberMe, new { @id = "brand" })
                        <label for="brand"><span></span> Remember me?</label>
                    </p>
                    <p class="login button">
                        <input type="submit" value="Login" />
                    </p>
                    <p class="login button">
                        <a href="/Account/RecoverPassword" class="to_register">
                            <span>Forgot your password?</span>
                        </a>
                    </p>
                }
            </div>
        </div>
        <p class="agileits">© 2020 Miles Program. All Rights Reserved |</p>
    </div>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://apis.google.com/js/platform.js" async defer></script>

}
