@model IEnumerable<MilesBackOffice.Web.Models.SuperUser.AdvertisingViewModel>

@{
    ViewData["Title"] = "AdvertisingAndReferences";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <br />
                    <h1>Advertising And References</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Home" asp-controller="Account">Home</a></li>
                        <li class="breadcrumb-item active">Advertising And References</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Partner</th>
                                        <th>Title</th>
                                        <th>Content</th>
                                        <th>End Date here?</th>
                                        <th>Confirm or Cancel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>aqui fica a img</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartnerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Content)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            @if (item.Status != 0)
                                            {
                                                <a asp-action="ConfirmAdvertisingAndReferences" asp-route-id="@item.AdvertisingId" class="btn btn-success">
                                                    <i class="far fa-check-circle"></i>
                                                </a>
                                                <a>-  -  - </a>
                                                <a asp-action="CancelPublish" asp-route-id="@item.AdvertisingId" class="btn btn-danger">
                                                    <i class="fas fa-ban"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <label class="label-success">Confirmed</label>
                                            }
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });
    </script>
}


