@model IEnumerable<MilesBackOffice.Web.Models.PremiumOfferViewModel>

@{
    ViewData["Title"] = "PremiumOfferList";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <br />
                    <h1>Premium Offers</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Home" asp-controller="Account">Home</a></li>
                        <li class="breadcrumb-item active">Premium Offers</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Offer Nrº</th>
                                        <th>Title</th>
                                        <th>Company</th>
                                        <th>Offer Type</th>
                                        <th>Quantity</th>
                                        <th>Available Seats</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.PartnersList)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            @if (item.AvailableSeats >= 0)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    n/a
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                <a asp-action="PremiumOfferDetails" class="btn btn-warning" asp-route-id="@item.Id">
                                                    <i class="fa fa-list"></i>
                                                </a>
                                                <a>-  -  - </a>
                                                <a asp-action="ConfirmPremiumOffer" asp-route-id="@item.Id" class="btn btn-success">
                                                    <i class="far fa-check-circle"></i>
                                                </a>
                                                <a>-  -  - </a>
                                                <a asp-action="ReturnOfferToEditing" asp-route-id="@item.Id" class="btn btn-danger">
                                                    <i class="fas fa-ban"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $("#premiumTable").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });
    </script>
}
