@model IEnumerable<MilesBackOffice.Web.Models.SuperUser.TierChangeViewModel>

@{
    ViewData["Title"] = "TierChange";
}



<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <br />
                    <h1>Tier change</h1>
                </div>
                @*<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="breadcrumb-item active">Tier change</li>
                    </ol>
                </div>*@
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="display table table-bordered table-striped index-table">
                                <thead>
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Old Tier</th>
                                        <th>New Tier</th>
                                        <th>Number Of Flights</th>
                                        <th>Number Of Miles</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClientName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OldTier)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NewTier)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumberOfFlights)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumberOfMiles)
                                            </td>
                                            <td>
                                                @if (item.Status != 0 && item.Status != 2)
                                                {
                                                    <a asp-action="ConfirmTierChange" asp-route-id="@item.TierChangeId" class="btn btn-success">
                                                        <i class="far fa-check-circle"></i>
                                                    </a>
                                                    <a>-  -  - </a>
                                                    <a asp-action="CancelTierChange" asp-route-id="@item.TierChangeId" class="btn btn-danger">
                                                        <i class="fas fa-ban"></i>
                                                    </a>
                                                }
                                                else if (item.Status == 0)
                                                {
                                                    <label class="label-success">Confirmed</label>
                                                }
                                                else
                                                {
                                                    <label class="label-success">Canceled</label>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <span>
                            @ViewBag.Message
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


