@model CinelAirMilesLibrary.Common.Models.LoginViewModel

@{ 
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>CinelAir Miles | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Majestic Login Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- font files -->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /font files -->
    <!-- css files -->
    <link href="~/login/css/animate-custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
</head>
<body>
    <h1 class="w3ls">Welcome back!</h1>
    <div id="container_demo">
        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">

                @using (Html.BeginForm("LoginClient", "Account", FormMethod.Post, new { @autocomplete = "on" }))

                {
                    @Html.AntiForgeryToken()

                    <h2>Log in</h2>
                    <div>@Html.ValidationSummary(true, "", new { @style = "color: white" })</div>
                    <br />
                    <p>
                        <label for="GuidId" class="uname" data-icon="u"><span>Your Client Number</span></label>
                        <span asp-validation-for="GuidId" class="text-danger">
                            @Html.TextBoxFor(l => l.GuidId, new { @placeholder = "Id" })
                        </span>
                    </p>
                    <p>
                        <label for="Password" class="youpasswd" data-icon="p"><span>Your password</span></label>
                        @Html.PasswordFor(l => l.Password, new { @placeholder = "Password" })
                    </p>
                    <p>
                        @Html.CheckBoxFor(l => l.RememberMe, new { @id = "brand" })
                        <label for="brand"><span></span> Remember me?</label>
                    </p>
                    <p class="login button">
                        <input type="submit" value="Login" />
                    </p>

                    @if (Model.ExternalLogins.Count > 0)
                    {
                        <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                            <div class="social-auth-links text-center mb-3">
                                <p style="color:#ffffff">- OR -</p>

                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    @if (provider.Name == "Facebook")
                                    {
                                        <button data-onsuccess="onSignIn"
                                                class="btn-block btn btn-facebook" type="submit" value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account" name="provider">
                                            <i class="fa fa-facebook-square"></i> Facebook
                                        </button>
                                    }
                                    else if (provider.Name == "Google")
                                    {
                                        <button data-onsuccess="onSignIn"
                                                type="submit" class="btn btn-block btn-google" value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account" name="provider">
                                            <i class="fa fa-google"></i> Google
                                        </button>
                                    }
                                }

                            </div>
                        </form>
                    }

                    <p class="login button">
                        <a href="RegisterClient" class="to_register">
                            <span>Register here</span>
                        </a>
                    </p>

                    <p class="login button">
                        <a href="ClientRecoverPassword" class="to_register">
                            <span>Forgot your password?</span>
                        </a>
                    </p>

                }
            </div>
        </div>
        <p class="agileits">© 2016 Majestic Login Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
    </div>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://apis.google.com/js/platform.js" async defer></script>

}
