@model IEnumerable<CinelAirMiles.Models.TransactionViewModel>



<div class="container">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h2 class="m-0 text-dark">My transactions</h2>
        </div>
    </div>

    <div class="card-header">
        <h4 class="card-title">Status Miles: </h4>
        <h4 class="card-title">Bonus Miles: </h4>
    </div>
    <div id="form_container">
    </div>
    <table id="flights" class="table table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PremiumOffer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransferTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndBalance)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (item.PremiumOffer == 0)
                        {
                            <p>n/a</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.PremiumOffer)
                        }
                    </td>
                    <td>
                        @if (item.TransferTo == null)
                        {
                            <p>n/a</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.TransferTo)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartBalance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndBalance)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

