@model IEnumerable<CinelAirMiles.Models.AdvertisingViewModel>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        @foreach (var item in Model)
        {
            @*<div class="item">
                <img src="@Url.Content(item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.PostGuidId)"
                     style=" height: 500px; text-align: center;margin: auto; width: 50%;">
                <div class="carousel-caption">
                    <h1><a href="#">@item.Title</a></h1>
                </div>
            </div>*@
            @if (item.Id == 1)
            {
                <div class="item active">
                    <img src="@Url.Content(item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.PostGuidId)"
                         style=" height: 500px; text-align: center;margin: auto; width: 50%;">
                    <div class="carousel-caption">
                        <h1><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h1>
                    </div>
                </div>
            }

            else
            {
                <div class="item">
                    <img src="@Url.Content(item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.PostGuidId)"
                         style=" height: 500px; text-align: center;margin: auto; width: 50%;">
                    <div class="carousel-caption">
                        <h1><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h1>
                    </div>
                </div>
            }

        }
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>