@model IEnumerable<CinelAirMiles.Models.PremiumOfferViewModel>

@if (Model.Count() == 0)
{
    <div class="container">
        <h5>No results found</h5>
    </div>
}
else
{
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Company
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departure)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/shop/premiumdetails/@item.Id">
                            <img style="max-width:100px; max-height:100px" src='@Url.Action("GetOffersImageFile", "Home", new { id = item.Id})' alt="@item.Title" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartnerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (item.Departure == null)
                        {
                            <p>n/a</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Departure)
                        }
                    </td>
                    <td>
                        @if (item.Arrival == null)
                        {
                            <p>n/a</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Arrival)
                        }
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}


